*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Дополнени для полноты
*.apk
*.aar
*.ap_
*.dex
*.class
bin/
gen/
out/
proguard/
*.log
.navigation/
*.keystore
google-services.json
.gradle/
!gradle-wrapper.jar
**/build/